* {
    font-family: 'Montserrat', sans-serif;
    color: #FFF3CC;
}

/* color scheme */
/* 
#253031 black leather-jacket (background-color)
#315659 dark slate gray (header)
#2978A0 lapis lazuli (header:hover)
#FFF3CC misty moss (default text color)
#C6E0FF periwinkle
*/

body {
    background-color: #253031;
    margin: 0px;
}

header {
    background-color: #315659;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    box-shadow: 1px 1px 5px black;
}

.navigation {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 12px 0;
    color: #FFF3CC;
}

.navigation:hover {
    background-color: #2978A0;
    cursor: pointer;
}

#hero {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
}

#portrait {
    width: 30vw;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}

#hero > h3 {
    background-color: #315659;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 45px;
    width: 50vw;
    min-width: 250px;
}

#projects {
    padding: 0 20px;
}

.project-card {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #315659;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
}

.project-details > h2, .project-details > h3 {
    display: inline;
}

.project-details {
    flex: 1;
    padding: 15px
}

.tech-stack {
    display: flex;
}

.tech-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-item > p {
    margin: 4px;
}

.tech-img {
    height: 20px;
}

.project-gif {
    flex: 1;
    border-radius: 5px;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    header {
        display: none;
        background-color: red;
    }

    #hero {
        padding: 10px;
        justify-content: center;
    }

    #project-card {
        flex-direction: row;
    }
}