* {
    font-family: 'Montserrat', sans-serif;
    color: #FFF3CC;
}

/* color scheme */
/* 
#253031 black leather-jacket (background-color)
#315659 dark slate gray (header)
#2978A0 lapis lazuli (header:hover)
#FFF3CC misty moss (default text color)
#C6E0FF periwinkle
*/

body {
    background-color: #253031;
    margin: 0px;
}

header {
    background-color: #315659;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    box-shadow: 1px 1px 5px black;
}

.navigation {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 12px 0;
    color: #FFF3CC;
}

.navigation:hover {
    background-color: #2978A0;
    cursor: pointer;
}

#hero {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
}

#portrait {
    width: 30vw;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}

#hero > h3 {
    background-color: #315659;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 45px;
    width: 50vw;
    min-width: 250px;
}

/* PROJECT div */
#projects {
    padding: 0 20px;
}

.project-card {
    display: flex;
    justify-content: center;
    margin: 16px 10px;
    background-color: #315659;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
}

.project-details > h2, .project-details > h3 {
    display: inline;
}

div.project-details {
    flex: 3;
    padding: 15px;
}

div.project-details > * {
    margin: 15px 0;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: fit-content;
    border: 1px solid #2530318f;
    border-radius: 20px;
}

.tech-item {
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-item > p {
    margin: 4px;
    font-size: 12px;
}

.tech-img {
    max-height: 20px;
}

.project-links-group {
    display: flex;
    align-items: center;
}

.project-link {
    text-decoration: none;
    background-color: #253031;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: fit-content;
    margin: 10px;
}

.inactive {
    background-color: #4f6668;
    border: none;
}

img.project-gif {
    flex: 1;
    border-radius: 5px;
    object-fit: scale-down;
    justify-self: flex-end;
}

/* EDUCATION div */
#education {
    padding: 20px;
}

.education-card {
    margin: 16px 10px;
    background-color: #315659;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
}

.education-header {
    display: flex;
    align-items: center;
}

.education-image {
    max-width: 100px;
    max-height: 40px;
    padding: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}

/* CONTACT div */
#contact {
    padding: 20px;
}

form {
    margin: 16px 10px;
    background-color: #315659;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
}

#inputs-container {
    display: flex;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 20px;
}

input#full-name {
    margin-right: 10px;
}

textarea {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
    resize: none;
    display: block;
    margin: 10px 10px 10px 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
}

button {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 20px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}

#email-link {
    text-align: center;
}

@media only screen and (max-width: 850px) {
    #hero {
        height: 90vh;
        padding: 10px;
        justify-content: center;
    }
    .project-card {
        flex-direction: column;
    }
    img.project-gif {
        width: 100%;
        align-self: flex-end;
        object-fit: contain;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: none;
        background-color: red;
    }

    #hero {
        padding: 10px;
        justify-content: center;
    }
    .project-card {
        flex-direction: column;
    }
    img.project-gif {
        width: 100%;
        align-self: flex-end;
        object-fit: contain;
    }
    #inputs-container {
        flex-direction: column;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        justify-content: space-between;
        margin: 10px 10px 10px 0;
    }
    textarea {
        margin: 0px 10px 10px 0px;
    }
}